body {
    background-color: rgb(235, 246, 252);
}
a {
    color: rgb(7, 7, 7);
}

#mycart {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(207, 219, 224);
    color: black;
    width: 50%;
    text-align: center;
}
#mycart:hover {
    background-color: aliceblue;
}

.btn {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(231, 130, 163);
    color: rgb(1, 10, 19);
}
.btn:hover {
    background-color: rgb(187, 90, 155);
}



img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}